@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.about{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../public/group.jpg);
}

.contact{
  background-image: url(../public//contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.register{
  background-image: url(../public/register.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}